<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.selu.android.classygames"
	android:versionCode="10"
	android:versionName="1.5">

    <!-- Check out the Android API Levels website for more information on this topic -->
    <!-- https://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels -->
	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="17" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission 
		android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- begin GCM stuff -->
	<!-- this GCM stuff was taken from this official google tutorial -->
	<!-- https://developer.android.com/guide/google/gcm/gs.html -->
	<permission
		android:name="edu.selu.android.classygames.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />

	<uses-permission
		android:name="edu.selu.android.classygames.permission.C2D_MESSAGE" />

	<!-- App receives GCM messages. -->
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE" />

	<!-- GCM requires a Google account. -->
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS" />

	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission
		android:name="android.permission.WAKE_LOCK" />
	<!-- end most of the GCM stuff -->

	<application
		android:allowBackup="false"
		android:icon="@drawable/launcher"
		android:label="@string/app_name">

    	<!-- some Facebook v3.0 stuff -->
		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/facebook_app_id" />

		<!-- more GCM stuff -->
		<receiver
			android:name="edu.selu.android.classygames.utilities.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action
					android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category
					android:name="edu.selu.android.classygames" />
			</intent-filter>
		</receiver>
		<service
			android:name="edu.selu.android.classygames.utilities.GCMIntentService" />
		<!--  end more GCM stuff -->

		<activity
			android:label="@string/main_activity_title"
			android:name=".MainActivity"
			android:theme="@style/Theme.Styled">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:label="@string/about_activity_title"
			android:name=".AboutActivity"
			android:parentActivityName=".GameFragmentActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GameFragmentActivity" />
		</activity>

		<activity
			android:label="@string/games_list_fragment_title"
			android:name=".GameFragmentActivity"
			android:theme="@style/Theme.Styled"
			android:uiOptions="splitActionBarWhenNarrow" />

		<activity
			android:label="@string/game_over_activity_title"
			android:name=".GameOverActivity"
			android:parentActivityName=".GameFragmentActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GameFragmentActivity" />
		</activity>

		<activity
			android:label="@string/friends_list_fragment_title"
			android:name=".NewGameFragmentActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GameFragmentActivity" />
		</activity>

		<activity
			android:label="@string/shark_activity_title"
			android:name=".SharkActivity"
			android:parentActivityName=".AboutActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".AboutActivity" />
		</activity>

		<activity
			android:label="@string/app_name"
			android:name="com.facebook.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
	</application>
</manifest>