<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.selu.android.classygames"
	android:versionCode="7"
	android:versionName="1.1.2">

	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="17" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission 
		android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- some Facebook v3.0 stuff -->
	<meta-data
		android:name="com.facebook.sdk.ApplicationId"
		android:value="@string/app_id" />

	<!-- begin GCM stuff -->
	<!-- this GCM stuff was taken from this official google tutorial -->
	<!-- https://developer.android.com/guide/google/gcm/gs.html -->
	<permission
		android:name="edu.selu.android.classygames.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission
		android:name="edu.selu.android.classygames.permission.C2D_MESSAGE" />

	<!-- App receives GCM messages. -->
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE" />

	<!-- GCM requires a Google account. -->
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS" />

	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission
		android:name="android.permission.WAKE_LOCK" />
	<!-- end most of the GCM stuff -->

	<application
		android:allowBackup="false"
		android:icon="@drawable/launcher"
		android:label="@string/app_name">

		<!-- more GCM stuff -->
		<receiver
			android:name="edu.selu.android.classygames.utilities.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action
					android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category
					android:name="edu.selu.android.classygames" />
			</intent-filter>
		</receiver>
		<service
			android:name="edu.selu.android.classygames.utilities.GCMIntentService" />
		<!--  end more GCM stuff -->

		<activity
			android:label="@string/main_activity_title"
			android:name=".MainActivity"
			android:theme="@style/Theme.Styled">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:label="@string/about_fragment_title"
			android:name=".AboutActivity"
			android:parentActivityName=".GamesListActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GamesListActivity" />
		</activity>

		<activity
			android:label="@string/checkers_game_fragment_title" 
			android:name=".CheckersGameActivity"
			android:parentActivityName=".GamesListActivity"
			android:theme="@style/Theme.Styled"
			android:uiOptions="splitActionBarWhenNarrow">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GamesListActivity" />
		</activity>

		<activity
			android:label="@string/confirm_game_activity_title"
			android:name=".ConfirmGameActivity"
			android:parentActivityName=".NewGameActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".NewGameActivity" />
		</activity>

		<activity
			android:label="@string/games_list_fragment_title"
			android:name=".GamesListActivity"
			android:theme="@style/Theme.Styled" />

		<activity
			android:label="@string/game_over_fragment_title"
			android:name=".GameOverActivity"
			android:parentActivityName=".GamesListActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GamesListActivity" />
		</activity>

		<activity
			android:label="@string/logout_fragment_title"
			android:name=".LogoutActivity"
			android:parentActivityName=".GamesListActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GamesListActivity" />
		</activity>

		<activity
			android:label="@string/new_game_fragment_title"
			android:name=".NewGameActivity"
			android:parentActivityName=".GamesListActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".GamesListActivity" />
		</activity>

		<activity
			android:label="@string/shark_fragment_title"
			android:name=".SharkActivity"
			android:parentActivityName=".AboutActivity"
			android:theme="@style/Theme.Styled">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".AboutActivity" />
		</activity>
	</application>
</manifest>