<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>classygamesserver</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetGame</display-name>
    <servlet-name>GetGame</servlet-name>
    <servlet-class>edu.selu.android.classygames.GetGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGame</servlet-name>
    <url-pattern>/GetGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGames</display-name>
    <servlet-name>GetGames</servlet-name>
    <servlet-class>edu.selu.android.classygames.GetGames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGames</servlet-name>
    <url-pattern>/GetGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGame</display-name>
    <servlet-name>NewGame</servlet-name>
    <servlet-class>edu.selu.android.classygames.NewGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGame</servlet-name>
    <url-pattern>/NewGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMove</display-name>
    <servlet-name>NewMove</servlet-name>
    <servlet-class>edu.selu.android.classygames.NewMove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMove</servlet-name>
    <url-pattern>/NewMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegId</display-name>
    <servlet-name>NewRegId</servlet-name>
    <servlet-class>edu.selu.android.classygames.NewRegId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegId</servlet-name>
    <url-pattern>/NewRegId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRegId</display-name>
    <servlet-name>RemoveRegId</servlet-name>
    <servlet-class>edu.selu.android.classygames.RemoveRegId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRegId</servlet-name>
    <url-pattern>/RemoveRegId</url-pattern>
  </servlet-mapping>
</web-app>